/* css reset */
* {
    font-family: cursive;
    margin: 0;
    padding: 0;
}

/* styles on project */
.header-div {
    padding: 20px;
    background-color: red;
    text-align: center;
}

.main-heading {
    border: white 4px solid;
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 60px;
}

/* main h1 {
    text-align: center;
    color: red;
} */

.image-div {
    background-color: red;
}
.banner-image {
    width: 100%;
    border-bottom: 4px red solid; 
}

.nav-links-container {
    background-color: grey;
    padding: 20px;
    text-align: center;
}

.nav-link {
    color: white;
    margin: 8%;
    text-decoration: none;
}

.nav-link:hover {
    color: red;
    text-decoration: underline;
}

.main-text {
    color: red !Important;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

.main-words {
    text-align: justify;
    line-height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    font-size: 24px;
}

.main-contact {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

/* #contact-form {
    background-color: orangered;
} */

input {
    font-size: 25px;
    text-align: center;
    margin: 20px;
    border: 4px red solid;
    border-radius: 50px;
}

.footer-div {
    padding: 25px;
    color: white;
    background-color: red;
    text-align: center;
}

.main-gallery {
    color: red;
    padding: 20px;
    text-align: center;
}

.main-image {
    border-bottom: 4px red solid;
}

.div-image {
    text-align: center;
}

.image {
    width: 40%;
    margin: 10px;
    border-bottom: 6px red solid;
}

.image:hover {
    border: 4px red solid;
    box-shadow: 4px 8px 16px grey
}